.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.cartTable {
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
}

.cartTable th {
  background-color: #f9f9f9;
  border: 1px solid black;
  padding: 10px;
}

.cartTable td {
  border: 1px solid black;
  padding: 10px;
}

.cartTable img {
  width: 100px;
  height: 100px;
}

.cartTotal {
  margin-top: 1em;
  font-size: 1.5em;
}

.cartTotal p {
  margin: 0;
}


