header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

footer {
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2vmin);
  color: white;
  text-align: center;
  padding: 2px;
  background-color: DarkSalmon;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  /*left align the logo*/
  float: left;
}

nav {
  text-align: right;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2vh;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid black;
}

nav a {
  display: inline-block;
  /*button size*/
  width: 100px;
  height: 70%;
  /*button style*/
  background-color: DarkSalmon;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

nav a:hover {
  color: yellow;
  background-color: black;
}

nav a:active {
  color: red;
}

nav a:visited {
  color: white;
}
